*{
    font-family: 'Rubik', sans-serif;
    
}
H2{
    font-family: 'Rubik', sans-serif;
}
H1{
    font-family: 'Rubik', sans-serif;
    color: #1583e9;
}
H4{
    font-family: 'Rubik', sans-serif;
    color: #1583e9;
}
H5{
    font-family: 'Rubik', sans-serif;
    color: #1583e9;
}
P{
    font-family: 'Rubik', sans-serif;
}
A{
    font-family: 'Rubik', sans-serif;
}
 