{% extends 'base_page.html' %} 
{% load static %} 

{% block title %} 
DSTU
{% endblock title %} 

{% block container %} 


    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h1 class="title" style="text-transform: none;">Наука и инновации</h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>

    <section class="uza-portfolio-single-area section-padding-80">
        <div class="container">
            <div class="row justify-content-between align-items-end">
                <div class="col-12 col-md-6">
                    <div class="portfolio-details-text" >
                         
                             
                            <p>Научная работа в истории Донского государственного технического университета всегда рассматривалась, с одной стороны, как важнейшая составляющая учебно-воспитательного процесса, а с другой, как необходимое условие для обеспечения тесной связи науки и производства.
                                <p>Cегодня все усилия вуза направлены на формирование ДГТУ как инновационного исследовательского университета, что предполагает формирование целостной системы образования, ориентированной на результат, более полное внедрение современных образовательных технологий, создание инновационной образовательной и научной среды, расширение спектра интеллектуальных услуг. Работа по каждому из этих направлений уже ведётся. А значит, будет и результат.</p>
                            
                            <h5>Что такое ППОО ДГТУ: </h5>
                            <p>- крупная общественная организация</p>
                            <p>- более 20 000 обучающихся ДГТУ - члены Профсоюза (90%)</p>
                            <p>- долгосрочное и плодотворное сотрудничество с партнерами, скидочная система которых в приложении СКС РФ</p>
                            <p>- более 30 ежегодных проектов и мероприятий университетского, городского, регионального и федерального уровней</p>
                            <p>- более 10 направлений туристических экскурсий в течение года.</p>
                            
                           
                            
                            <h5>С нами ты сможешь:</h5>
                            <p>- узнать больше о своих правах и возможностях</p>
                            <p>- получить материальную помощь, оказавшись в трудной жизненной ситуации</p>
                            <p>- путешествовать вместе с нами по городам России и Черному морю во все времена года</p>
                            <p>- реализовать свои самые креативные инициативы</p>
                            <p>- получить опыт в организации крупных мероприятий</p>
                         
                            
                         
                        
                        
                           
                            
                            
                             
                    </div>
                </div>
                
                
            </div>

             

            
        </div>
    </section>


    {% endblock container %} 