{% extends 'base_page.html' %} 
{% load static %} 

{% block title %} 
DSTU
{% endblock title %} 

{% block container %} 

    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h1 style="text-transform: none;" class="title">Студенческий совет</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>
    <section class="uza-portfolio-single-area section-padding-80">
        <div class="container">
            <div class="row justify-content-between align-items-end">
                <div class="col-12 col-md-6">
                    <div class="portfolio-details-text" >
                         
                            <h5>Студенческий совет –</h5>
                            <p>орган студенческого самоуправления. Также это организация, существующая исключительно на энтузиазме ее участников, которые сами задают цели, ставят задачи, находят пути их решения и достигают желаемых результатов</p>
                            <p>Студенческий совет – одна из самых крупных общественных организаций в ДГТУ. Представители Студсовета есть на каждом факультете, в каждом общежитии и в каждой академической группе.</p>
                            
                             
                            <p>Основной нашей целью является – представительство и защите прав всех обучающихся ДГТУ. Наша организация представляет мнение обучающихся в ряде важных комиссий, таких как: оценка качества образования, распределения различных стипендий и мест в общежития ДГТУ.</p>
                            <p>Если у Вас есть идеи,  если вы хотите получить максимум от студенческой жизни – мы готовы Вам помочь!</p>
                            <p>Студсовет ДГТУ – это команда лидеров, способных рассмотреть в каждом человеке талант, поддержать его и задать нужно направление для его развития.</p>
                             
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock container %} 