<center>
<h1>Личный кабинет</h1>
<a href="{% url 'index' %}">Вернуться</a>
<h2>
<br>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!
<br>Ваша почта - {{ user.email }}
<br>Ваша группа - {{ user.group }}
</h2>


<title>Download File</title>
<center>
   <h1>Download File using Django</h1>
   <a href="{% url 'download_file'  %}">Download PDF</a>
</center>



</center>

<center>
{% if text != 'Расписания нет' %}
<table  border="1" cellpadding="4" cellspacing="0">
   <caption>Расписание</caption>
   <tr>
    <th>День недели</th><th>1 пара</th><th>2 пара</th><th>3 пара</th><th>4 пара</th><th>5 пара</th>
   </tr>
   {% for key, value in text.items %}
   <tr>
       {% for lesson in value %}
       {% if lesson == None %}
           <td></td>
       {% else %}
           <td>{{lesson | linebreaksbr}}</td>
       {% endif %}
       {% endfor %}
   </tr>
   {% endfor %}
  </table>
</center>
{% else %}
<h1>расписания нет</h1>
{%endif%}